@import "tailwindcss";

@theme {
  --animate-fadeDown: fadeDown 0.8s ease-out forwards;
  --animate-fadeUp: fadeUp 0.8s ease-out forwards;

  @keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
